{% extends 'core/core.html' %}
{%load static%}

{% block content%}
<h3> {{pilot}} </h3>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Έκδοση βεβαιώσεων
    </button>
    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <li><a class="dropdown-item" href="#">6ΜΗΝΟ</a></li>
      <li><a class="dropdown-item" href="#">18ΜΗΝΟ</a></li>
      {% if train_hours %}
      <li><a class="dropdown-item" href="#">Εκπαιδευτή</a></li>
      {% endif %}
    </ul>
  </div>
</div>
<hr>
<h4 style="text-align:center"> Πληροφορίες </h4>
<div id="profileTable" profiletable-url="{% url 'changeTableData' %}">
<div class="tableFixHeadTiny">
  <table class="table table-hover table-bordered">
    <thead class="table-dark" style="position: sticky;top: 0">
      <tr>
        <th scope="col">ΑΜΑ</th>
        <th scope="col">ΕΠΩΝΥΜΟ</th>
        <th scope="col">ΟΝΟΜΑ</th>
        <th scope="col">ΒΑΘΜΟΣ</th>
        <th scope="col">ΕΙΔΙΚ</th>
        <th scope="col">ΙΔΙΟΤΗΤΑ</th>
        <th scope="col">ΔΙΑΘΕΣΙΜΟΤΗΤΑ</th>
        <th scope="col">ΤΟΠΟΘΕΤΗΣΗ</th>
        <th scope="col">ΚΑΤΗΓΟΡΙΑ ΔΙΚΑΙΟΥΜΕΝΗ</th>
        <th scope="col">ΚΑΤΗΓΟΡΙΑ ΚΑΤΟΧΥΡΩΜΕΝΗ</th>
        <th scope="col">ΜΟΝΑΔΑ ΕΚΔΟΣΗΣ ΠΤΗΤΙΚΟΥ</th>
        <th scope="col">ΓΕΝΙΚΟ ΣΥΝΟΛΟ ΩΡΩΝ</th>
        {% if trainer %}
          <th scope="col">ΠΤΥΧΙΟ</th>
          <th scope="col">ΔΙΑΤΑΓΗ ΟΡΙΣΜΟΥ</th>
        {% endif %}
      </tr>
    </thead>
    <tbody >
        <tr>
          <td><input type="text" id="{{ pilot.asma }}_asma" name="{{ pilot.asma }}_asma" value={{pilot.asma}} disabled></td>
          <td><input type="text" id="{{ pilot.asma }}_lastname" name="{{ pilot.asma }}_lastname" value={{pilot.lastname}}></td>
          <td><input type="text" id="{{ pilot.asma }}_firstname" name="{{ pilot.asma }}_firstname" value={{pilot.firstname}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.asma }}_rank" name="{{ pilot.asma }}_rank" value={{pilot.rank}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.asma }}_eidikotita" name="{{ pilot.asma }}_eidikotita" value={{pilot.eidikotita}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.asma }}_idiotita" name="{{ pilot.asma }}_idiotita" value={{pilot.idiotita}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.asma }}_diathesimotita" name="{{ pilot.asma }}_diathesimotita" value={{pilot.availability}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.asma }}_topothetisi" name="{{ pilot.asma }}_topothetisi" value={{pilot.topothetisi}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.asma }}_katigoriadikaioumeni" name="{{ pilot.asma }}_katigoriadikaioumeni" value={{pilot.katigoria_dikaioumeni}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.asma }}_katigoriakatoxiromeni" name="{{ pilot.asma }}_katigoriakatoxiromeni" value={{pilot.katigoria_katoxiromeni}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.asma }}_monadaekdosisptitikou" name="{{ pilot.asma }}_monadaekdosisptitikou" value={{pilot.monada_ekdosis_ptitikou}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.asma }}_genikosynolooron" name="{{ pilot.asma }}_genikosynolooron" value={{pilot.geniko_synolo_oron}}></td>
          {% if trainer %}
          <td><input style="width:100%" type="text" id="{{ trainer.airman.asma }}_ptixio" name="{{ trainer.airman.asma }}_ptixio" value={{trainer.ptixio}}></td>
          <td><input type="text" id="{{ trainer.airman.asma }}_diatagiorismou" name="{{ trainer.airman.asma }}_diatagi_orismou" value={{trainer.diatagi_orismou}}></td>
        {% endif %}
        </tr>
    </tbody>
  </table>
</div>
<hr>
<h4 style="text-align:center"> Ώρες Εκπαιδευτών </h4>
{% if train_hours %}
<div class="tableFixHeadSmall">
  <table class="table table-hover table-bordered">
    <thead class="table-dark" style="position: sticky;top: 0">
      <tr>
        <th scope="col">ΠΡΟΦΙΛ</th>
        <th scope="col">ΑΜΑ</th>
        <th scope="col">ΕΠΩΝΥΜΟ</th>
        <th scope="col">ΒΑΘΜΟΣ</th>
        <th scope="col">Α/Φ</th>
        <th scope="col">ΩΡΕΣ</th>
        <th scope="col">ΜΗΝΑΣ</th>
        <th scope="col">ΕΤΟΣ</th>
      </tr>
    </thead>
    <tbody >
      {% for trainer in train_hours%}
        <tr>
          <td><a href={% url 'profile' trainer.airman.asma %}><i class="fa-solid fa-user"></i></a></td>
          <td><input type="text" id="{{ trainer.airman.asma }}_asma" name="{{ trainer.airman.asma }}" value={{trainer.airman.asma}} disabled></td>
          <td><input type="text" id="{{ trainer.airman.asma }}_lastname" name="{{ trainer.airman.lastname }}" value={{trainer.airman.lastname}} disabled></td>
          <td><input style="width:100%" type="text" id="{{ trainer.airman.asma }}_rank" name="{{ trainer.airman.rank }}" value={{trainer.airman.rank}} disabled></td>
          <td><input style="width:100%"type="text" id="{{ trainer.airman.asma }}_trainer_{{trainer.month}}_{{trainer.year}}_plane" name="{{ trainer.plane }}" value={{trainer.plane}}></td>
          <td><input style="width:100%" type="text" id="{{ trainer.airman.asma }}_trainer_{{trainer.month}}_{{trainer.year}}_hours" name="{{ trainer.hours }}" value={{trainer.hours}}></td>
          <td><input style="width:100%" type="text" id="{{ trainer.airman.asma }}_trainer_{{trainer.month}}_{{trainer.year}}_month" name="{{ trainer.month }}" value={{trainer.month}}></td>
          <td><input style="width:100%" type="text" id="{{ trainer.airman.asma }}_trainer_{{trainer.month}}_{{trainer.year}}_year" name="{{ trainer.year }}" value={{trainer.year}}></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="alert alert-secondary" role="alert">
  Δεν υπάρχουν ώρες εκπαιδευτών.
</div>
{% endif %}
<hr>
<h4 style="text-align:center"> Ώρες Πτήσεων </h4>
{% if flight_hours %}
<div class="tableFixHeadSmall">
  <table class="table table-hover table-bordered">
    <thead class="table-dark" style="position: sticky;top: 0">
      <tr>
        <th scope="col">ΠΡΟΦΙΛ</th>
        <th scope="col">ΑΜΑ</th>
        <th scope="col">ΕΠΩΝΥΜΟ</th>
        <th scope="col">ΟΝΟΜΑ</th>
        <th scope="col">ΒΑΘΜΟΣ</th>
        <th scope="col">ΕΙΔΙΚ</th>
        <th scope="col">ΑΦΟΣ</th>
        <th scope="col">ΚΥΒ/ΤΗΣ (ΩΡΕΣ)</th>
        <th scope="col">ΣΥΓΚ/ΤΗΣ (ΩΡΕΣ)</th>
        <th scope="col">IFR (ΩΡΕΣ)</th>
        <th scope="col">ΝΥΧΤΑ (ΩΡΕΣ)</th>
        <th scope="col">ΝΑΥΤΙΛΙΑ (ΩΡΕΣ)</th>
        <th scope="col">ΠΛΗΡΩΜΑ (ΩΡΕΣ)</th>
        <th scope="col">ΚΑΤΗΓΟΡΙΑ (6ΜΗΝΟ/18ΜΗΝΟ)</th>
        <th scope="col">ΜΟΝΑΔΑ</th>
        <th scope="col">ΜΗΝΑΣ</th>
        <th scope="col">ΕΤΟΣ</th>
      </tr>
    </thead>
    <tbody >
      {% for pilot in flight_hours%}
        <tr>
          <td><a href={% url 'profile' pilot.airman.asma %}><i class="fa-solid fa-user"></i></a></td>
          <td><input type="text" id="{{ pilot.airman.asma }}_asma" name="{{ pilot.airman.asma }}" value={{pilot.airman.asma}} disabled></td>
          <td><input type="text" id="{{ pilot.airman.asma }}_lastname" name="{{ pilot.airman.lastname }}" value={{pilot.airman.lastname}} disabled></td>
          <td><input type="text" id="{{ pilot.airman.asma }}_name" name="{{ pilot.airman.firstname }}" value={{pilot.airman.firstname}} disabled></td>
          <td><input style="width:100%" type="text" id="{{ pilot.airman.asma }}_rank" name="{{ pilot.airman.rank }}" value={{pilot.airman.rank}} disabled></td>
          <td><input style="width:100%" type="text" id="{{ pilot.airman.asma }}_spec" name="{{ pilot.airman.eidikotita }}" value={{pilot.airman.eidikotita}} disabled></td>
          <td><input type="text" id="{{ pilot.airman.asma }}_flighthour_{{pilot.month}}_{{pilot.year}}_plane" name="{{ pilot.plane }}" value={{pilot.plane}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.airman.asma }}_flighthour_{{pilot.month}}_{{pilot.year}}_capthours" name="{{ pilot.capthours }}" value={{pilot.capthours}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.airman.asma }}_flighthour_{{pilot.month}}_{{pilot.year}}_cocapthours" name="{{ pilot.cocapthours }}" value={{pilot.cocapthours}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.airman.asma }}_flighthour_{{pilot.month}}_{{pilot.year}}_ifrhours" name="{{ pilot.ifrhours }}" value={{pilot.ifrhours}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.airman.asma }}_flighthour_{{pilot.month}}_{{pilot.year}}_nighthours" name="{{ pilot.nighthours }}" value={{pilot.nighthours}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.airman.asma }}_flighthour_{{pilot.month}}_{{pilot.year}}_nauthours" name="{{ pilot.nauthours }}" value={{pilot.nauthours}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.airman.asma }}_flighthour_{{pilot.month}}_{{pilot.year}}_crewhours" name="{{ pilot.crewhours }}" value={{pilot.crewhours}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.airman.asma }}_flighthour_{{pilot.month}}_{{pilot.year}}_category" name="{{ pilot.category }}" value={{pilot.category}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.airman.asma }}_flighthour_{{pilot.month}}_{{pilot.year}}_unit" name="{{ pilot.unit }}" value={{pilot.unit}}></td>
          <td><input type="text" id="{{ pilot.airman.asma }}_flighthour_{{pilot.month}}_{{pilot.year}}_month" name="{{ pilot.month }}" value={{pilot.month}}></td>
          <td><input style="width:100%" type="text" id="{{ pilot.airman.asma }}_flighthour_{{pilot.month}}_{{pilot.year}}_year" name="{{ pilot.year }}" value={{pilot.year}}></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% else %}
<div class="alert alert-secondary" role="alert">
  Δεν υπάρχουν ώρες πτήσεων.
</div>
{% endif %}
<br>
<hr>
<button type="button" class="btn btn-danger">Διαγραφή</button>

{% endblock content%}

{% block scripts%}
<script>
$(document).ready(function(){
  $("input").change(function(){
    var id = $(this).attr('id');
    var value = $(this).val();
    var url = $("#profileTable").attr("profiletable-url"); 
    console.log(url)


    $.ajax({                  
      url: url,                   
      data: {
          'to_change': id,
          'value': value
      },
      success: function (data) {
        console.log(data);
      }
  });



  });
});
</script>
{% endblock scripts%}