{% extends 'core/core.html' %}
{%load static%}
{% block head %}
<style>
    body{
        background-image: url('/static/images/cl415.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }
</style>
{% endblock%}
{% block indexpage %}
{% endblock %}

{% block footer%}
<footer class="footer fixed-bottom mt-auto py-1 bg-dark">
  <div class="container text-center">
    <span class="text-white "><img src="{% static '/images/haf-logo.svg' %}"  width="2%" height="2%"> <b>Πολεμική Αεροπορία · 113 Πτέρυγα Μάχης · MEY · Γραφείο Πτήσεων</b></span>
  </div>
</footer>
{% endblock footer%}
