{% extends 'core/core.html' %}
{%load static%}



{% block content %}
{% if table_data and file_type == 1 %}
  <form method="post" action="{% url 'save_uploaded_data'%}">
    {% csrf_token %}
    <div class="btn-group" style="float:right;" role="group" aria-label="Basic example">
      <a href={% url 'upload_file' %} class="button btn btn-danger">Απόρριψη</a>
      <button type="submit" class="btn btn-success">Αποθήκευση</button>
    </div>
    <h3>Ώρες Πιλότων</h3>

    <div class="tableFixHead">
      <table class="table table-hover table-bordered">
        <thead class="table-dark" style="position: sticky;top: 0">
          <tr>
            <th scope="col">Α/Α</th>
            <th scope="col">ΑΜΑ</th>
            <th scope="col">ΕΠΩΝΥΜΟ</th>
            <th scope="col">ΟΝΟΜΑ</th>
            <th scope="col">ΒΑΘΜΟΣ</th>
            <th scope="col">ΕΙΔΙΚ</th>
            <th scope="col">ΑΦΟΣ</th>
            <th scope="col">ΚΥΒ/ΤΗΣ (ΩΡΕΣ)</th>
            <th scope="col">ΣΥΓΚ/ΤΗΣ (ΩΡΕΣ)</th>
            <th scope="col">IFR (ΩΡΕΣ)</th>
            <th scope="col">ΝΥΧΤΑ (ΩΡΕΣ)</th>
            <th scope="col">ΝΑΥΤΙΛΙΑ (ΩΡΕΣ)</th>
            <th scope="col">ΠΛΗΡΩΜΑ (ΩΡΕΣ)</th>
            <th scope="col">ΚΑΤΗΓΟΡΙΑ (6ΜΗΝΟ/18ΜΗΝΟ)</th>
            <th scope="col">ΜΟΝΑΔΑ</th>
            <th scope="col">ΜΗΝΑΣ</th>
            <th scope="col">ΕΤΟΣ</th>
          </tr>
        </thead>
        <tbody >
          {% for pilot in table_data%}
            <tr>
              <th scope="row">{{ pilot.0 }}</th>
              <td><input type="text" id="{{ pilot.1 }}_asma" name="{{ pilot.1 }}" value={{pilot.1}}></td>
              <td><input type="text" id="{{ pilot.1 }}_lastname" name="{{ pilot.1 }}" value={{pilot.2}}></td>
              <td><input type="text" id="{{ pilot.1 }}_name" name="{{ pilot.1 }}" value={{pilot.3}}></td>
              <td><input type="text" id="{{ pilot.1 }}_rank" name="{{ pilot.1 }}" value={{pilot.4}}></td>
              <td><input type="text" id="{{ pilot.1 }}_spec" name="{{ pilot.1 }}" value={{pilot.5}}></td>
              <td><input type="text" id="{{ pilot.1 }}_plane" name="{{ pilot.1 }}" value={{pilot.6}}></td>
              <td><input type="text" id="{{ pilot.1 }}_capthours" name="{{ pilot.1 }}" value={{pilot.7}}></td>
              <td><input type="text" id="{{ pilot.1 }}_cocapthours" name="{{ pilot.1 }}" value={{pilot.8}}></td>
              <td><input type="text" id="{{ pilot.1 }}_ifrhours" name="{{ pilot.1 }}" value={{pilot.9}}></td>
              <td><input type="text" id="{{ pilot.1 }}_nighthours" name="{{ pilot.1 }}" value={{pilot.10}}></td>
              <td><input type="text" id="{{ pilot.1 }}_nauthours" name="{{ pilot.1 }}" value={{pilot.11}}></td>
              <td><input type="text" id="{{ pilot.1 }}_crewhours" name="{{ pilot.1 }}" value={{pilot.12}}></td>
              <td><input type="text" id="{{ pilot.1 }}_category" name="{{ pilot.1 }}" value={{pilot.13}}></td>
              <td><input type="text" id="{{ pilot.1 }}_unit" name="{{ pilot.1 }}" value={{pilot.14}}></td>
              <td><input type="text" id="{{ pilot.1 }}_month" name="{{ pilot.1 }}" value={{pilot.15}}></td>
              <td><input type="text" id="{{ pilot.1 }}_year" name="{{ pilot.1 }}" value={{pilot.16}}></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </form>
  {% elif table_data and file_type == 2%}
  <form method="post" action="{% url 'save_uploaded_data'%}">
    {% csrf_token %}
    <div class="btn-group" style="float:right;" role="group" aria-label="Basic example">
      <a href={% url 'upload_file' %} class="button btn btn-danger">Απόρριψη</a>
    <button type="submit" class="btn btn-success">Αποθήκευση</button>
      <div class="input-group">
        <select class="form-select" id="month" name="month" required>
          <option value="">Μήνας...</option>
          <option value="ΙΑΝΟΥΑΡΙΟΣ">ΙΑΝΟΥΑΡΙΟΣ</option>
          <option value="ΦΕΒΡΟΥΑΡΙΟΣ">ΦΕΒΡΟΥΑΡΙΟΣ</option>
          <option value="ΜΑΡΤΙΟΣ">ΜΑΡΤΙΟΣ</option>
          <option value="ΑΠΡΙΛΙΟΣ">ΑΠΡΙΛΙΟΣ</option>
          <option value="ΜΑΙΟΣ">ΜΑΙΟΣ</option>
          <option value="ΙΟΥΝΙΟΣ">ΙΟΥΝΙΟΣ</option>
          <option value="ΙΟΥΛΙΟΣ">ΙΟΥΛΙΟΣ</option>
          <option value="ΑΥΓΟΥΣΤΟΣ">ΑΥΓΟΥΣΤΟΣ</option>
          <option value="ΣΕΠΤΕΜΒΡΙΟΣ">ΣΕΠΤΕΜΒΡΙΟΣ</option>
          <option value="ΟΚΤΩΒΡΙΟΣ">ΟΚΤΩΒΡΙΟΣ</option>
          <option value="ΝΟΕΜΒΡΙΟΣ">ΝΟΕΜΒΡΙΟΣ</option>
          <option value="ΔΕΚΕΜΒΡΙΟΣ">ΔΕΚΕΜΒΡΙΟΣ</option>
        </select>
      </div>
      <div class="input-group">
        <input class="form-control" id="year" name="year" placeholder="Έτος..." required>
      </div>
  </div>
  <h3>Ώρες Εκπαιδευτών</h3>
  <div class="tableFixHead">
    <table class="table table-hover table-bordered">
      <thead class="table-dark" style="position: sticky;top: 0">
        <tr>
          <th scope="col">Α/Α</th>
          <th scope="col">ΒΑΘΜΟΣ</th>
          <th scope="col">ΕΠΩΝΥΜΟ</th>
          <th scope="col">ΑΜΑ</th>
          <th scope="col">Α/Φ</th>
          <th scope="col">ΩΡΕΣ</th>
        </tr>
      </thead>
      <tbody >
        {% for trainer in table_data%}
          <tr>
            <th scope="row">{{ trainer.0 }}</th>
            <td><input type="text" id="{{ trainer.3 }}_rank" name="{{ trainer.3 }}" value={{trainer.1}}></td>
            <td><input type="text" id="{{ trainer.3 }}_lastname" name="{{ trainer.3 }}" value={{trainer.2}}></td>
            <td><input type="text" id="{{ trainer.3 }}_asma" name="{{ trainer.3 }}" value={{trainer.3}}></td>
            <td><input type="text" id="{{ trainer.3 }}_plane" name="{{ trainer.3 }}" value={{trainer.4}}></td>
            <td><input type="text" id="{{ trainer.3 }}_hours" name="{{ trainer.3 }}" value={{trainer.5}}></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </form>
  {% else %}
  <div class="alert alert-danger" role="alert">
    Το αρχείο που προσθέσατε δεν έχει την προκαθορισμένη δομή.
  </div>
  {% endif %}
{% endblock content%}