{% extends 'core/core.html' %}
{%load static%}



{% block content %}
{% if table_data and file_type == 1 %}
  <form method="post" action="{% url 'save_uploaded_data'%}">
    {% csrf_token %}
    <div class="btn-group" style="float:right;" role="group" aria-label="Basic example">
      <a href={% url 'upload_file' %} class="button btn btn-danger">Απόρριψη</a>
      <button type="submit" class="btn btn-success">Αποθήκευση</button>
    </div>
    <h3>Ώρες Πιλότων</h3>

    <div class="tableFixHead">
      <table class="table table-hover table-bordered">
        <thead class="table-dark" style="position: sticky;top: 0">
          <tr>
            <th scope="col">Α/Α</th>
            <th scope="col">ΑΜΑ</th>
            <th scope="col">ΕΠΩΝΥΜΟ</th>
            <th scope="col">ΟΝΟΜΑ</th>
            <th scope="col">ΒΑΘΜΟΣ</th>
            <th scope="col">ΕΙΔΙΚ</th>
            <th scope="col">ΑΦΟΣ</th>
            <th scope="col">ΚΥΒ/ΤΗΣ (ΩΡΕΣ)</th>
            <th scope="col">ΣΥΓΚ/ΤΗΣ (ΩΡΕΣ)</th>
            <th scope="col">IFR (ΩΡΕΣ)</th>
            <th scope="col">ΝΥΧΤΑ (ΩΡΕΣ)</th>
            <th scope="col">ΝΑΥΤΙΛΙΑ (ΩΡΕΣ)</th>
            <th scope="col">ΠΛΗΡΩΜΑ (ΩΡΕΣ)</th>
            <th scope="col">ΚΑΤΗΓΟΡΙΑ (6ΜΗΝΟ/18ΜΗΝΟ)</th>
            <th scope="col">ΜΟΝΑΔΑ</th>
            <th scope="col">ΜΗΝΑΣ</th>
            <th scope="col">ΕΤΟΣ</th>
          </tr>
        </thead>
        <tbody >
          {% for pilot in table_data%}
            <tr>
              <th scope="row">{{ pilot.0 }}</th>
              <td><input type="text" id="{{ pilot.1 }}_asma" name="{{ pilot.1 }}" value={{pilot.1}}></td>
              <td><input type="text" id="{{ pilot.1 }}_lastname" name="{{ pilot.1 }}" value={{pilot.2}}></td>
              <td><input type="text" id="{{ pilot.1 }}_name" name="{{ pilot.1 }}" value={{pilot.3}}></td>
              <td><input type="text" id="{{ pilot.1 }}_rank" name="{{ pilot.1 }}" value={{pilot.4}}></td>
              <td><input type="text" id="{{ pilot.1 }}_spec" name="{{ pilot.1 }}" value={{pilot.5}}></td>
              <td><input type="text" id="{{ pilot.1 }}_plane" name="{{ pilot.1 }}" value={{pilot.6}}></td>
              <td><input type="text" id="{{ pilot.1 }}_capthours" name="{{ pilot.1 }}" value={{pilot.7}}></td>
              <td><input type="text" id="{{ pilot.1 }}_cocapthours" name="{{ pilot.1 }}" value={{pilot.8}}></td>
              <td><input type="text" id="{{ pilot.1 }}_ifrhours" name="{{ pilot.1 }}" value={{pilot.9}}></td>
              <td><input type="text" id="{{ pilot.1 }}_nighthours" name="{{ pilot.1 }}" value={{pilot.10}}></td>
              <td><input type="text" id="{{ pilot.1 }}_nauthours" name="{{ pilot.1 }}" value={{pilot.11}}></td>
              <td><input type="text" id="{{ pilot.1 }}_crewhours" name="{{ pilot.1 }}" value={{pilot.12}}></td>
              <td><input type="text" id="{{ pilot.1 }}_category" name="{{ pilot.1 }}" value={{pilot.13}}></td>
              <td><input type="text" id="{{ pilot.1 }}_unit" name="{{ pilot.1 }}" value={{pilot.14}}></td>
              <td><input type="text" id="{{ pilot.1 }}_month" name="{{ pilot.1 }}" value={{pilot.15}}></td>
              <td><input type="text" id="{{ pilot.1 }}_year" name="{{ pilot.1 }}" value={{pilot.16}}></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </form>
  {% elif table_data and file_type == 2%}
  <form method="post" action="{% url 'save_uploaded_data'%}">
    {% csrf_token %}
    <div class="btn-group" style="float:right;" role="group" aria-label="Basic example">
      <a href={% url 'upload_file' %} class="button btn btn-danger">Απόρριψη</a>
    <button type="submit" class="btn btn-success">Αποθήκευση</button>
      <div class="input-group">
        <select class="form-select" id="month" name="month" required>
          <option value="">Μήνας...</option>
          <option value="ΙΑΝΟΥΑΡΙΟΣ">ΙΑΝΟΥΑΡΙΟΣ</option>
          <option value="ΦΕΒΡΟΥΑΡΙΟΣ">ΦΕΒΡΟΥΑΡΙΟΣ</option>
          <option value="ΜΑΡΤΙΟΣ">ΜΑΡΤΙΟΣ</option>
          <option value="ΑΠΡΙΛΙΟΣ">ΑΠΡΙΛΙΟΣ</option>
          <option value="ΜΑΙΟΣ">ΜΑΙΟΣ</option>
          <option value="ΙΟΥΝΙΟΣ">ΙΟΥΝΙΟΣ</option>
          <option value="ΙΟΥΛΙΟΣ">ΙΟΥΛΙΟΣ</option>
          <option value="ΑΥΓΟΥΣΤΟΣ">ΑΥΓΟΥΣΤΟΣ</option>
          <option value="ΣΕΠΤΕΜΒΡΙΟΣ">ΣΕΠΤΕΜΒΡΙΟΣ</option>
          <option value="ΟΚΤΩΒΡΙΟΣ">ΟΚΤΩΒΡΙΟΣ</option>
          <option value="ΝΟΕΜΒΡΙΟΣ">ΝΟΕΜΒΡΙΟΣ</option>
          <option value="ΔΕΚΕΜΒΡΙΟΣ">ΔΕΚΕΜΒΡΙΟΣ</option>
        </select>
      </div>
      <div class="input-group">
        <select class="form-select" id="year" name="year" required>
          <option value="">Έτος...</option>
          <option value="2000">2000</option>
          <option value="2001">2001</option>
          <option value="2002">2002</option>
          <option value="2003">2003</option>
          <option value="2004">2004</option>
          <option value="2005">2005</option>
          <option value="2006">2006</option>
          <option value="2007">2007</option>
          <option value="2008">2008</option>
          <option value="2009">2009</option>
          <option value="2010">2010</option>
          <option value="2011">2011</option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
          <option value="2031">2031</option>
          <option value="2032">2032</option>
          <option value="2033">2033</option>
          <option value="2034">2034</option>
          <option value="2035">2035</option>
          <option value="2036">2036</option>
          <option value="2037">2037</option>
          <option value="2038">2038</option>
          <option value="2039">2039</option>
          <option value="2040">2040</option>
          <option value="2041">2041</option>
          <option value="2042">2042</option>
          <option value="2043">2043</option>
          <option value="2044">2044</option>
          <option value="2045">2045</option>
          <option value="2046">2046</option>
          <option value="2047">2047</option>
          <option value="2048">2048</option>
          <option value="2049">2049</option>
          <option value="2050">2050</option>
          <option value="2051">2051</option>
          <option value="2052">2052</option>
          <option value="2053">2053</option>
          <option value="2054">2054</option>
          <option value="2055">2055</option>
          <option value="2056">2056</option>
          <option value="2057">2057</option>
          <option value="2058">2058</option>
          <option value="2059">2059</option>
          <option value="2060">2060</option>
          <option value="2061">2061</option>
          <option value="2062">2062</option>
          <option value="2063">2063</option>
          <option value="2064">2064</option>
          <option value="2065">2065</option>
          <option value="2066">2066</option>
          <option value="2067">2067</option>
          <option value="2068">2068</option>
          <option value="2069">2069</option>
          <option value="2070">2070</option>
          <option value="2071">2071</option>
          <option value="2072">2072</option>
          <option value="2073">2073</option>
          <option value="2074">2074</option>
          <option value="2075">2075</option>
          <option value="2076">2076</option>
          <option value="2077">2077</option>
          <option value="2078">2078</option>
          <option value="2079">2079</option>
          <option value="2080">2080</option>
          <option value="2081">2081</option>
          <option value="2082">2082</option>
          <option value="2083">2083</option>
          <option value="2084">2084</option>
          <option value="2085">2085</option>
          <option value="2086">2086</option>
          <option value="2087">2087</option>
          <option value="2088">2088</option>
          <option value="2089">2089</option>
          <option value="2090">2090</option>
          <option value="2091">2091</option>
          <option value="2092">2092</option>
          <option value="2093">2093</option>
          <option value="2094">2094</option>
          <option value="2095">2095</option>
          <option value="2096">2096</option>
          <option value="2097">2097</option>
          <option value="2098">2098</option>
          <option value="2099">2099</option>
          <option value="2100">2100</option>
      </select>
      </div>
  </div>
  <h3>Ώρες Εκπαιδευτών</h3>
  <div class="tableFixHead">
    <table class="table table-hover table-bordered">
      <thead class="table-dark" style="position: sticky;top: 0">
        <tr>
          <th scope="col">Α/Α</th>
          <th scope="col">ΒΑΘΜΟΣ</th>
          <th scope="col">ΕΠΩΝΥΜΟ</th>
          <th scope="col">ΑΜΑ</th>
          <th scope="col">Α/Φ</th>
          <th scope="col">ΩΡΕΣ</th>
        </tr>
      </thead>
      <tbody >
        {% for trainer in table_data%}
          <tr>
            <th scope="row">{{ trainer.0 }}</th>
            <td><input type="text" id="{{ trainer.3 }}_rank" name="{{ trainer.3 }}" value={{trainer.1}}></td>
            <td><input type="text" id="{{ trainer.3 }}_lastname" name="{{ trainer.3 }}" value={{trainer.2}}></td>
            <td><input type="text" id="{{ trainer.3 }}_asma" name="{{ trainer.3 }}" value={{trainer.3}}></td>
            <td><input type="text" id="{{ trainer.3 }}_plane" name="{{ trainer.3 }}" value={{trainer.4}}></td>
            <td><input type="text" id="{{ trainer.3 }}_hours" name="{{ trainer.3 }}" value={{trainer.5}}></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </form>
  {% else %}
  <div class="alert alert-danger" role="alert">
    Το αρχείο που προσθέσατε δεν έχει την προκαθορισμένη δομή.
  </div>
  {% endif %}
{% endblock content%}