{% extends 'core/core.html' %}
{%load static%}

{% block content %}
<div class="row">
<div class="col-sm">
    <h3> Αρχέια ωρών πιλότων </h3>
    <input class="form-control form-control-lg" id="formFileLg" type="file">
    <br>
    <button type="button" class="btn btn-success">Ανέβασμα</button>
</div>
<br>
<div class="col-sm">
    <h3> Αρχέια ωρών εκπαιδευτών </h3>
    <input class="form-control form-control-lg" id="formFileLg" type="file">
    <br>
    <button type="button" class="btn btn-success">Ανέβασμα</button>
</div>
</div>
{% endblock content %}}

