{% extends 'core/core.html' %}
{%load static%}

{% block content %}
<h3>Εκπαιδευτές</h3>
<p>Από {{from_month}} {{from_year}} εώς {{to_month}} {{to_year}} </p>
<div class="tableFixHead">
  <table class="table table-hover table-bordered">
    <thead class="table-dark" style="position: sticky;top: 0">
      <tr>
        <th scope="col">A/A</th>
        <th scope="col">ΠΡΟΦΙΛ</th>
        <th scope="col">ΑΜΑ</th>
        <th scope="col">ΕΠΩΝΥΜΟ</th>
        <th scope="col">ΒΑΘΜΟΣ</th>
        <th scope="col">Α/Φ</th>
        <th scope="col">ΩΡΕΣ</th>
        <th scope="col">ΜΗΝΑΣ</th>
        <th scope="col">ΕΤΟΣ</th>
      </tr>
    </thead>
    <tbody >
      {% for trainer in table_data%}
        <tr>
          <td scope="row">{{ forloop.counter }}</td>
          <td><a href={% url 'profile' trainer.airman.asma %}><i class="fa-solid fa-user"></i></a></td>
          <td><input type="text" id="{{ trainer.airman.asma }}_asma" name="{{ trainer.airman.asma }}" value={{trainer.airman.asma}} disabled></td>
          <td><input type="text" id="{{ trainer.airman.asma }}_lastname" name="{{ trainer.airman.lastname }}" value={{trainer.airman.lastname}} disabled></td>
          <td><input type="text" id="{{ trainer.airman.asma }}_rank" name="{{ trainer.airman.rank }}" value={{trainer.airman.rank}} disabled></td>
          <td><input type="text" id="{{ trainer.airman.asma }}_plane" name="{{ trainer.plane }}" value={{trainer.plane}} disabled></td>
          <td><input type="text" id="{{ trainer.airman.asma }}_hours" name="{{ trainer.hours }}" value={{trainer.hours}} disabled></td>
          <td><input type="text" id="{{ trainer.airman.asma }}_month" name="{{ trainer.month }}" value={{trainer.month}} disabled></td>
          <td><input type="text" id="{{ trainer.airman.asma }}_year" name="{{ trainer.year }}" value={{trainer.year}} disabled></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content%}