{% extends 'core/core.html' %}
{%load static%}
{% block content %}
<div class="container">
    {% if success_message %}
      <div class="alert alert-success" role="alert">
        {{success_message}}
      </div>
    {%endif%}
    {% if exist_message %}
    <div class="alert alert-danger" role="alert">
      {{exist_message}}
    </div>
  {%endif%}
    
    <h3> Εισαγωγή ώρας εκπαιδευτή </h3>
    <hr>
    <div class="row">
    <form id="findAsma" method="post" action="{% url 'add_train_hour' %}" findasma-url="{% url 'findasma' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <h4> Πληροφορίες </h4>
        <div class="col-sm input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">ΑΜΑ *</span>
            </div>
            <input type="number" class="form-control" placeholder="Προσθέστε το ΑΜΑ..." aria-label="Username" id="asma" name="asma" required>
        </div>
        <div id="airmandetails">
            <div class="col-sm input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">ΕΠΩΝΥΜΟ</span>
                </div>
                <input type="text" class="form-control" placeholder="Προσθέστε το επώνυμο..." aria-label="Username" id="lastname" name="lastname" required>
            </div>
            <div class="col-sm input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">ΟΝΟΜΑ</span>
                </div>
                <input type="text" class="form-control" placeholder="Προσθέστε το όνομα..." aria-label="Username" id="firstname" name="firstname" required>
            </div>
            <div class="col-sm input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">ΒΑΘΜΟΣ</span>
                </div>
                <input type="text" class="form-control" placeholder="Προσθέστε τον βαθμό..." aria-label="Username" id="rank" name="rank" required>
            </div>
            <div class="col-sm input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">ΕΙΔΙΚΟΤΗΤΑ</span>
                </div>
                <input type="text" class="form-control" placeholder="Προσθέστε την ειδικότητα..." aria-label="Username" id="speciality" name="speciality" required>
            </div>
        </div>
        <h4>Πληροφορίες εκπαίδευσης</h4>
        <div class="col-sm input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">ΑΦΟΣ</span>
            </div>
            <input type="text" class="form-control" placeholder="Προσθέστε το αφος..." aria-label="Username" id="plane" name="plane" required>
        </div>
        <div class="col-sm input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">ΩΡΕΣ</span>
            </div>
            <input type="number" step="any" class="form-control" placeholder="Προσθέστε τις ώρες κυβ\της..." aria-label="Username" id="hours" name="hours" required>
        </div>
        <div class="col-sm input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">ΜΗΝΑΣ *</span>
          </div>
          <select class="form-select" name="month" id="month" required>
            <option value="">Επιλέξτε μήνα...</option>
            <option value="ΙΑΝΟΥΑΡΙΟΣ">ΙΑΝΟΥΑΡΙΟΣ</option>
            <option value="ΦΕΒΡΟΥΑΡΙΟΣ">ΦΕΒΡΟΥΑΡΙΟΣ</option>
            <option value="ΜΑΡΤΙΟΣ">ΜΑΡΤΙΟΣ</option>
            <option value="ΑΠΡΙΛΙΟΣ">ΑΠΡΙΛΙΟΣ</option>
            <option value="ΜΑΙΟΣ">ΜΑΙΟΣ</option>
            <option value="ΙΟΥΝΙΟΣ">ΙΟΥΝΙΟΣ</option>
            <option value="ΙΟΥΛΙΟΣ">ΙΟΥΛΙΟΣ</option>
            <option value="ΑΥΓΟΥΣΤΟΣ">ΑΥΓΟΥΣΤΟΣ</option>
            <option value="ΣΕΠΤΕΜΒΡΙΟΣ">ΣΕΠΤΕΜΒΡΙΟΣ</option>
            <option value="ΟΚΤΩΒΡΙΟΣ">ΟΚΤΩΒΡΙΟΣ</option>
            <option value="ΝΟΕΜΒΡΙΟΣ">ΝΟΕΜΒΡΙΟΣ</option>
            <option value="ΔΕΚΕΜΒΡΙΟΣ">ΔΕΚΕΜΒΡΙΟΣ</option>
          </select>
      </div>
        <div class="col-sm input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">ΕΤΟΣ *</span>
            </div>
            <input type="number" class="form-control" placeholder="Προσθέστε το έτος..." aria-label="Username" id="year" name="year" required>
        </div>
        <hr>
        <button type="submit" class="btn btn-block btn-success">Εισαγωγή</button>
    </form>
</div>
<br>
</div>

{% endblock content %}
{% block scripts%}
<script>
	$("#asma").change(function () {
	    var url = $("#findAsma").attr("findasma-url"); 
	    var asma = $(this).val();  
	    
	    $.ajax({                  
	        url: url,                   
	        data: {
	            'asma': asma
	        },
	        success: function (data) {
            if (data.found == true){
              document.getElementById("asma").value = data.asma;

              document.getElementById("firstname").value = data.firstname;
              document.getElementById("firstname").disabled = true

              document.getElementById("lastname").value = data.lastname;
              document.getElementById("lastname").disabled = true

              document.getElementById("rank").value = data.rank;
              document.getElementById("rank").disabled = true

              document.getElementById("speciality").value = data.speciality;
              document.getElementById("speciality").disabled = true
            }
            else{
              document.getElementById("firstname").value = ""
              document.getElementById("lastname").value = ""
              document.getElementById("rank").value = ""
              document.getElementById("speciality").value = ""

              document.getElementById("asma").disabled = false
              document.getElementById("firstname").disabled = false
              document.getElementById("lastname").disabled = false
              document.getElementById("rank").disabled = false
              document.getElementById("speciality").disabled = false
            }
	                
	        }
	  });
	
	});
</script>
{% endblock scripts%}


